@font-face {
    font-family: 'girassolregular';
    src: url('font/girassol/girassol-regular-webfont.eot');
    src: url('font/girassol/girassol-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/girassol/girassol-regular-webfont.woff') format('woff'),
    url('font/girassol/girassol-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: reqnad;
    src: url('font/Reqnad/ReqnadGeometrikBeta0.1-Regular.otf');
}

@font-face {
    font-family: yeong_sung;
    src: url("font/Yeon_Sung/YeonSung-Regular.ttf") format('truetype');
;
}

@font-face {
    font-family: cabin;
    src: url("font/Cabin/Cabin-Regular.ttf") format('truetype');
;
}

body {
    background: url('../img/freesolo.jpg') no-repeat center fixed;
    background-size: cover;
    /*color: #f0ad4e;*/
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: cabin, yeong_sung, reqnad, Arial, serif;
}

/*div {*/
/*    border: black 1px solid;*/
/*}*/

h1 {
    font-weight: bold;
}

h1, h2, h4, h5, a, td {
    color: #DE781F;
}

h3 {
    color: white ;
}

h3 a {
    color: #F2E8C9;
}

th {
    color: #F2E8C9;
}

#topoTable th {
    color: black;
}

a:hover {
    color: #F2E205;
}

#body {
    margin-top: 10em;
}

#footer {
    margin-top: 5em;
}

.vertical-center {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background: transparent;
    /*margin: auto;*/
}

#title {
    font-size: 7em;
    color: #DE781F;
}

#subTitle {
    font-size: 2.5em;
    color: #DE781F;
}

.navbar {
    background-color: transparent;
    color: #DE781F;
    font-size: large;
}

#navLink {
    color: #DE781F;
}

#bonjour {
    color: white;
    font-size: 1.5em;
    margin-right: 1em;
}

.carousel-item {
    height: 50em;
    width: auto;
}

.input-group {
    margin-top: 1em;
}

.input-group-text {
    width: 10em;
}

#carouselAccueil {
    display: block;
}

#testbt, #jsTestPage {
    margin-top: 10em;
    color: #F2E205;
}

#searchInput {
    background: #F2E8C9;
    opacity: 0.9;
}

.btn {
    width: 10.5em;
    opacity: 0.9;
    margin-top: 1em;
    margin-bottom: 1em;
}

#admin-modif {
    margin: 0;
}
#admin-supp {
    margin: 0;
}

#btnCreationSite {
    width: 20em;
}
/*#buttonLinkBar {*/
/*    margin-top: 1em;*/
/*}*/
#btnAjoutCommentaire {
    width: 15em;
}
#btnAjoutSecteur {
    margin-left: 1em;
}
#btnAjoutVoie {
    margin-right: 1em;
}
#btnRetour {
    margin-left: 1em;
}
#btnReservationTopo {
    margin-top: unset;
}
#btnDatesReservees {
    margin-top: unset;
}

.card {
    margin-top: 1em;
    background: #F2E8C9;
    opacity: 0.95;
    border-radius: 5px;
    display: flex;
    /*justify-content: space-around;*/
}

#searchSiteCard {
    height: auto;
    margin-top: 1em;
    background: #F2E8C9;
    opacity: 0.95;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

#secteurCard {
    margin-top: 2em;
}

.card-header {
    background: #1F4C73;
    opacity: 0.9;
}

.card-body {
    background: #F2E8C9;
    opacity: 0.9;
}

.card-footer {
    background: #1F4C73;
    opacity: 0.9;
}

#carouselAccueil {
    height: 9em;
    width: 12em;
}
#photo-site {
    /*height: 9em;*/
    /*width: 12em;*/
    height: 100%;
    width: 100%;
}
.carousel-item {
    /*height: 9em;*/
    /*width: 12em;*/
    height: 100%;
    width: 100%;
}


#infoSecteur {
    background-color: #1F4C73;
    text-align: center;
}

#infoVoies {
    background-color: #1F4C73;
}

#commentaire-div {
    border: #DE781F 1px solid;
    margin: 1em;
    padding: 1em;
}

#commentaire-panel, #user-panel, #topo-panel, #reservation-panel {
    border: white 2px solid;
    margin-bottom: 1em;
}

#descriptionBlock {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #F2E8C9;
}

#macaron-officiel {
    width: 9em;
    height: auto;
}

#attribut-officiel {
    font-size: larger;
}

#topoForm {
    display: none;
}

#formUpload {
    display: none;
}

#commentaire-card {
    display: none;
}

#commentaire-form {
    display: none;
}

#messageInfoRecherche {
    margin-bottom: 1em;
    text-align: center;
    color: #F2E8C9;
    font-size: xx-large;
}


