div {
    /*border: black 1px solid;*/
}

.input-group {
    /*border: red 1px solid;*/
    margin-left: 1em;
    margin-top: 2em;
}

.input-group-text {
    width: 8em;
}

.btn {
    width: 10em;
}

.btn-primary {
    margin-top: 2em;
}

.card {
    margin-top: 1em;
}

#buttonLinkBar {
    margin-top: 1em;
    text-align: center;
}

#descriptionBlock {
    margin-top: 1em;
    margin-bottom: 1em;
}
#uploadButton {
    height: 2.5em;
}
#formUpload {
    display: none;
}