@font-face {
    font-family: 'girassolregular';
    src: url('font/girassol/girassol-regular-webfont.eot');
    src: url('font/girassol/girassol-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/girassol/girassol-regular-webfont.woff') format('woff'),
    url('font/girassol/girassol-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: reqnad;
    src: url('font/Reqnad/ReqnadGeometrikBeta0.1-Regular.otf');
}

@font-face {
    font-family: yeong_sung;
    src: url("font/Yeon_Sung/YeonSung-Regular.ttf") format('truetype');
;
}

@font-face {
    font-family: cabin;
    src: url("font/Cabin/Cabin-Regular.ttf") format('truetype');
;
}

body {
    background: url('../img/freesolo.jpg') no-repeat center fixed;
    background-size: cover;
    color: #f0ad4e;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: cabin, yeong_sung, reqnad, Arial, serif;
}

h1 {
    font-weight: bold;
}

h5, h2, h1, a {
    color: #f0ad4e;
}

h3 a {
    color: #F2E8C9;
}

th {
    color: #F2E8C9;
}

td {
    color: #f0ad4e;
}

a:hover {
    color: #F2E205;
}

.vertical-center {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background: transparent;
    margin: auto;
}

#title {
    font-size: 8em;
    color: #f0ad4e;
}

#subTitle {
    font-size: 2.5em;
    color: #f0ad4e;
}

.navbar {
    background-color: transparent;
    color: #f0ad4e;
    font-size: large;
}

#navLink {
    color: #f0ad4e;
}

.carousel-item {
    height: 50em;
    width: auto;
}

.input-group {
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    margin-top: 2em;
}

.input-group-text {
    width: 10em;
}

.btn {
    width: 10.5em;
    opacity: 0.9;
}

#carouselAccueil {
    display: block;
}

#testbt, #jsTestPage {
    margin-top: 10em;
    color: #F2E205;
}

#searchSiteButton {
    margin-top: 2em;
    opacity: 0.9;
}

#searchInput {
    background: #F2E8C9;
    opacity: 0.9;
}

#createSiteButton {
    margin-top: 2em;
}

.card {
    margin-top: 1em;
    background: #F2E8C9;
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
    /*justify-content: space-around;*/
}

#searchSiteCard {
    height: auto;
    margin-top: 1em;
    background: #F2E8C9;
    opacity: 0.9;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

/*#siteCardBody {*/
/*    background: #1F4C73;*/
/*    opacity: 0.9;*/
/*}*/
/*#siteCardFooter {*/
/*    background: #F2E8C9;*/
/*    opacity: 0.9;*/
/*}*/
/*#userCard {*/
/*    background: #F2E8C9;*/
/*    opacity: 0.9;*/
/*}*/
/*#secteurCardHeader {*/
/*    background: #1F4C73;*/
/*    text-align: center;*/
/*}*/
/*#voieCardHeader {*/
/*    background: #1F4C73;*/
/*    text-align: center;*/
/*}*/
.card-header {
    background: #1F4C73;
    opacity: 0.9;
    /*text-align: center;*/
}

#secteurCardHeader {
    text-align: center;
    opacity: 1;
}

.card-body {
    background: #F2E8C9;
    opacity: 0.9;
}

.card-footer {
    background: #1F4C73;
    opacity: 0.9;
}

#banniereSite {
    height: 5em;
    width: auto;
}

#buttonLinkBar {
    margin-top: 1em;
}

#btnCreationSite {
    margin-top: 1em;
    margin-bottom: 1em;
}

#btnModficationSite {
    margin-top: 1em;
    margin-bottom: 1em;
}

#btnUpload {
    margin-top: 1em;
    margin-bottom: 1em;
}

#btnAjoutCommentaire {
    width: 15em;
}

#btnAjoutSecteur {
    margin-top: 1em;
    margin-bottom: 1em;
}

#btnAjoutVoie {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

#btnRetour {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}

#infoSecteur {
    background-color: #1F4C73;
    /*opacity: 0.9;*/
}

#infoVoies {
    background-color: #1F4C73;
    /*opacity: 0.9;*/
}

#descriptionBlock {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #F2E8C9;
    /*opacity: 0.9;*/
}

#formUpload {
    display: none;
}

#body {
    margin-top: 10em;
}

#footer {
    margin-top: 5em;
}

#infoDeRecherche {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: #F2E8C9;
    opacity: 0.9;
}


